<!-- Modal -->
<div class="modal fade" id="pop-custom"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Odered Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">    
	 		<div class="container pt-5" >
				<table class="table table-striped ">                         
				  <tr>                          
				    <th scope="col">name</th>
				    <th scope="col">description</th>
				    <th scope="col">price</th>
				    <th scope="col">category</th>
				    <th scope="col">Image</th>
				    <th scope="col">user</th>
				  </tr>
			    <% seller_products.map do |seller_product| %>
				    <tr>
					    <td ><%= seller_product.product.name %> </td>  
					    <td><%= seller_product.product.description%></td>  
					    <td><%= seller_product.product.price %></td>  
					    <td><%= seller_product.product.category.name %></td> 
					    <td><%= image_tag(seller_product.product.image.variant(resize_to_limit: [60, 60])) if seller_product.product.image.attached? %></td> 
					    <td></td>
					  </tr>
				  <% end %>                        
				</table>
			 </div>
	    </div>
	  </div>
	</div>
</div>
