 <h1>Edit Product </h1>

 <%= form_for [:seller, @product] do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name") %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

   
  <div class="actions">
    <%= f.submit "edit product" %>
  </div>

  <% end %> 